/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

/* Add CSS syling here */

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    max-width: 100%;
    
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    line-height: 1.5;
    color: black;
    background-color: white
  
}

/*dont foget font family*/

h1 {
    display: flex;
    font-size: 4rem;
}

.myname {
    padding: 1%;
}

.navcontainer {
    display: flex;
    background-color: darkgray;
    width: 100%;
}

.navbar {
    display: flex;
}

.navbar a {
    display: flex;
    border: 1px solid black;
    text-decoration: none;
    padding: 0% 5%;
}

.home {
    background-color: black;
    color: white;
}

.about, .contact, .projects {
    background-color: white;
    color: black;
}

/* middle content starts here */

.middlecontent {
    display: flex;
    width: 100%;
}

.mypicture {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.containersinfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    align-items: flex-start;
    margin-top: 15%;
    margin-left: 3%;
}

h2 {
    font-size: 5rem;
}

p {
    width: 30%;
    align-items: center;
}

button {
    padding: 1% 2%;
    background-color: black;
    color: white;
}

.randompics {
    display: flex;
    justify-content: space-between;
}

.randompics2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.random {
    height: 400px;
    width: 400px;
    padding: 10%;
}

.pone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer {
    display: flex;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
    padding: 3%;
    flex-direction: column;
    margin-top: 5%;
}

/*Mobile Design starts here */

@media (max-width: 800px) {
    .navcontainer {
        justify-content: center;
        background-color: white;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .myname {
        width: 70%;
        align-content: center;
    }
    h1 {
        text-align: center;
        font-size: 8rem;
    }
    .navbar {
        display: inline-block;
        width: 25%;
    }
    .navbar a {
        display: flex;
        border: 1px solid black;
        text-decoration: none;
        padding: 0% 5%;
        flex-direction: column;
    }
    .middlecontent {
        display: flex;
        justify-content: center;
        height: 55vh;
    }
    .mypicture {
        width: 70%;
        height: 23vh;
    }
    .middlecontent h2 {
        font-size: 3rem;
        text-align: center;
    }
    .middlecontent p {
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
    }
    div.buttonone {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3%;
    }
    .randompicsfather {
        display: flex;
        width: 100%;
        justify-content: center;
        height: 100vh;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        line-height: 1.4rem;
        margin-top: 13%;
    }
    .pic {
        width: 35%;
        height: 20vh;
    }
    .random {
        width: 100%;
        height: 20vh;
    }
    .footer h1 {
        text-align: center;
        font-size: 4rem;
    }
    .imtired {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .footer {
        width: 70%;
    }
}





@media (max-width: 800px) {
    .navcontainer {
        justify-content: center;
        background-color: white;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .myname {
        width: 70%;
        align-content: center;
    }
    h1 {
        text-align: center;
        font-size: 5rem;
    }
    .navbar {
        display: inline-block;
        width: 25%;
    }
    .navbar a {
        display: flex;
        border: 1px solid black;
        text-decoration: none;
        padding: 0% 5%;
        flex-direction: column;
    }
    .middlecontent {
        display: flex;
        justify-content: center;
        height: 55vh;
    }
    .mypicture {
        width: 70%;
        height: 23vh;
    }
    .middlecontent h2 {
        font-size: 3rem;
        text-align: center;
    }
    .middlecontent p {
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
    }
    div.buttonone {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3%;
    }
    .randompicsfather {
        display: flex;
        width: 100%;
        justify-content: center;
        height: 100vh;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        line-height: 1.4rem;
        margin-top: 13%;
    }
    .pic {
        width: 35%;
        height: 20vh;
    }
    .random {
        width: 100%;
        height: 20vh;
    }
    .footer h1 {
        text-align: center;
        font-size: 4rem;
    }
    .imtired {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .footer {
        width: 70%;
    }
}